!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :'xml:lang' => configatron.site_language, :lang => configatron.site_language}
  %head
    %title= (!@title.blank? ? "#{@title} / " : '') + configatron.site_name
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'keywords', :content => ""}
    %meta{:name => 'description', :content => ""}
    %link{:rel => 'icon', :href => '/favicon.ico'}
    %link{:href => '/css/screen.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}

  %body
    #container
      #content
        = yield