* {margin: 0; padding: 0;}
body {background: #f0f9fb url(../images/bg.png) top left repeat-x; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 62.5%; color: #333333;}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, dt, li, code, pre, q, blockquote {clear: both; display: block; vertical-align: top; line-height: 1.0em; color: #333333;}
h1, h2, h3, h4, h5, h6, p {font-family: Helvetica, Arial, Verdana, sans-serif; padding: 0; margin: 0 0 8px 0; line-height: 1.25em;}

h1 {font-size: 3.6em; letter-spacing: -.02em;}
h2 {font-size: 2.8em; letter-spacing: -.02em; background: #89d9ed; display: inline-block; padding: 5px 5px 3px 5px; line-height: 1.0em;}
h3 {font-size: 2.4em; letter-spacing: -.02em;}
h4 {font-size: 2.0em; letter-spacing: -.02em;}
h5 {font-size: 1.8em; letter-spacing: -.02em;}
h6 {font-size: 1.6em; letter-spacing: -.02em;}
p, ul li, ol li, dl dt, dl dd {font-size: 1.6em; letter-spacing: -.02em;}
a {display: inline-block; text-decoration: none; color: #333333;}
a:hover {margin: -2px -2px -1px -2px; padding: 2px 2px 1px 2px; background-color: #89d9ed; color: #333333;}
a img {border: none;}

h3 .note {display: inline-block; padding: 0 1px; font-weight: normal; font-size: .67em; line-height: 1.0em;}

.abs {position: absolute;}
.rel {position: relative;}
.c:after {content: "."; clear: both; display: block; visibility: hidden; height: 0;}
.left {clear: none; float: left;}
.right {clear: none; float: right;}
.ta_c {text-align: center;}
.ta_l {text-align: left;}
.ta_r {text-align: right;}

.hide {display: none;}
.invis {visibility: hidden;}

p.suggest {font-style: italic;}


#container {padding: 50px 45px; min-width: 475px;}

dl#nav {padding: 0 0 28px 0; margin: -12px 0 0 2px;}
dl#nav dt {margin-right: 16px; font-weight: bold; font-size: 1.8em;}
dl#nav dt.first {margin: -2px 8px 0 2px; font-size: 2.0em;}

#container a#bird {top: 15px; right: 28px; width: 129px; height: 110px;}
#container a#bird:hover {background: none;}

#content {padding: 8px 0 0 0;}
#content .box {padding: 10px 0 30px 0;}
#content .content {padding: 12px 0 0 30px;}
#content .content .file {padding: 12px 0 0 0;}
#content .content .file:first-child {padding: 0;}


#content .file .status {background: #c1e7f0; margin: -3px 0 8px 0; width: 100%; min-width: 100%;}
#content .file .status .bar {height: 57px; background: #28a0c6 url(../images/progress_bar_gloss.png) top left repeat-x; min-width: 19px;}
#content .file .status .pct {top: 15px; left: 10px; font-weight: bold; font-size: 3.2em; line-height: 1.0em;}

#content #completed_seeds .file a:hover {margin: -3px -5px -2px -5px; padding: 3px 5px 2px 5px; background-color: #28a0c6; color: #333333;}
#content #completed_seeds .file h3, #content #completed_seeds .file p {margin: 0;}

#content form h3 {margin: 4px 0;}
#content .form.file {padding: 6px 0 0 0;}
#content .form.file:hover {background: #c1e7f0; cursor: pointer;}
#content .form.file .select {padding: 3px 10px 0 10px;}
#content .form.file h4 {font-size: 1.6em;}
#content p.buttons {padding: 8px 0 0 0;;}

#footer {padding-top: 16px;}
#footer p {margin: 2px 0; font-size: 1.4em;}
#footer a {border-bottom: 1px dotted #aaa;}
#footer a:hover {margin: -2px -1px 0 -1px; padding: 2px 1px 0 1px; border-bottom: 1px solid #89d9ed;}